<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - product_Auth_DotNet_Core</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/product_Auth_DotNet_Core.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">product_Auth_DotNet_Core</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                           <span id="index"></span>
                        </li>
                      @*   <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                        </li> *@
                       
                    </ul>
                    <h3 id="username"></h3>
                    <span id="logoutbtn"></span>
                    <span id="signup"></span>
                    <span id="usrinfos"></span>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - product_Auth_DotNet_Core - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        // Get username from Razor and store it in localStorage
        var username = "@ViewBag.Username";
        var userole = "@ViewBag.role";
        
        if (username) {
            localStorage.setItem("username", username);  // Store username in localStorage
            localStorage.setItem("userrole", userole);  // Store username in localStorage
        }

        // Retrieve username from localStorage and display it
        var storedUsername = localStorage.getItem("username");
        var storedUserrole = localStorage.getItem("userrole");
        console.log(storedUserrole);
        if (storedUsername) {
            document.getElementById("username").innerText = "Welcome  " + storedUsername;
            var logoutUrl = '@Url.Action("Logout", "Account")';
            document.getElementById("logoutbtn").innerHTML = `<a class="nav-link text-dark" href="${logoutUrl}">Logout</a>`; 
            //admin
            if (storedUserrole === "Admin") {
                var usrinfoUrl = '@Url.Action("Admininfo", "Admin")';
                document.getElementById("usrinfos").innerHTML = `<a class="nav-link text-dark" href="${usrinfoUrl}">Profile</a>`;
                var IndexUrl = '@Url.Action("Index", "Admin")';
                document.getElementById("index").innerHTML = `<a class="nav-link text-dark" href="${IndexUrl}">Home</a>`;
            }//user
            else {
                var usrinfoUrl = '@Url.Action("Userinfo", "User")';
                document.getElementById("usrinfos").innerHTML = `<a class="nav-link text-dark" href="${usrinfoUrl}">Profile</a>`;
                var IndexUrl = '@Url.Action("Index", "User")';
                document.getElementById("index").innerHTML = `<a class="nav-link text-dark" href="${IndexUrl}">Home</a>`;
            }
           
        }
        else {
            var loginUrl = '@Url.Action("Login", "Account")';
            document.getElementById("logoutbtn").innerHTML = `<a class="nav-link text-dark" href="${loginUrl}">Login</a>`;
            var signupUrl = '@Url.Action("Signup", "Account")';
            document.getElementById("signup").innerHTML = `<a class="nav-link text-dark" href="${signupUrl}">Signup</a>`;
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
